# Environment Variables
.env
.env.local
.env.development.local
apps/*/.env
apps/*/.env.local

# NodeJS
node_modules/
apps/*/node_modules/
apps/*/.tanstack/
apps/*/.vite/

# Build Folders
dist/
apps/*/dist/
